
.signup-box{
    background-color: black;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    padding: 10px;
}

.signup-text{
    color: white;
    padding-top: 80px;
    font-size: 20px;
    text-align: center;
}
.signup-text input{
    border-radius: 5px;
}
#text{
    height: 25px;
    width: 300px;
    border-radius: 5px;
    border-style: none;
}
.signup-text button{
    border-radius: 5px;
    border-color: rgb(105, 49, 110);
    border-style: none;
    padding: 7px 0px;
    width: 300px;
    margin: 3px 0px;
}
.user_info_box{
    background-color: black;
    width: 400px;
    height: 800px;
    margin: auto;
    margin-top: 80px;
    padding: 10px;
}
.userinfo{
    color: white;
    padding-top: 80px;
    font-size: 20px;
    text-align: center;
}
.userinfo text{
    border-radius: 5px;
}
.Login{
    background-color: black;
    width: 400px;
    height: 800px;
    margin: auto;
    margin-top: 80px;
    padding: 10px;
}
.Login-text{
    color: white;
    padding-top: 80px;
    font-size: 20px;
    text-align: center;
}
#gender{
    border-radius: 5px;
    width: 100px;
    height: 25px;
}